{{define "test"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test HTML Route</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <div class="page">
      {{template "navigation" .}}
      
        <div class="body">
        <h1>Welcome to the Test HTML Route!</h1>
        <p>This is a simple HTML route.</p>

        {{if .User}}
            <p>Logged in as: {{.User.Username}}</p>
        {{else}}
            <p>You are not logged in.</p>
        {{end}}

        </div>
      
      {{template "footer" .}}
  </div>
</body>
</html>
{{end}}
