{{define "search"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search - Who Knows?</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="page">
        {{template "navigation" .}}

        <div class="body">
            <input id="search-input" placeholder="Search..." value="{{.Query}}" />
            <button onclick="makeSearchRequest()">Search</button>
        </div>

        <div id="results">
            {{if .Query}}
                {{if .SearchResults}}
                    <!-- If search results exist, iterate over them and display each result as a clickable link. -->
                    {{range .SearchResults}}
                    <div>
                        <!-- Display the title of the result as a link. 
                            The "href" points to the page URL, and the "title" is the clickable text. -->
                        <h2><a class="search-result-title" href="{{.url}}">{{.title}}</a></h2>
                    </div>
                    {{end}}
                {{else}}
                    <!-- If no search results are found, display a message indicating that no matches were found for the query. -->
                    <p>No results found for "{{.Query}}"</p>
                {{end}}
            {{else}}
                <!-- Optional: Display a placeholder message for an empty query -->
                <p>Enter a search term above to see results.</p>
            {{end}}
        </div>

        <script>
            let searchInput;

            document.addEventListener('DOMContentLoaded', () => {
                searchInput = document.getElementById("search-input");

                // Focus the input field
                searchInput.focus();

                // Search when the user presses Enter
                searchInput.addEventListener('keypress', (event) => {
                    if (event.key === 'Enter') {
                        makeSearchRequest();
                    }
                });
            });

            function makeSearchRequest() {
                const query = searchInput.value;
                const url = new URL(window.location.href);
                url.searchParams.set('q', query);
                window.location.href = url.toString();
            }
        </script>

        {{template "footer" .}}
    </div>
</body>

</html>
{{end}}